/* ----------------------------
Author: Anders Haig
Version: 0.0.1
---------------------------- */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #778785;
  background: linear-gradient(to bottom, #778785 0%, #585e66 50%, #454652 100%); }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("../img/waves.png") 0 0 repeat;
  color: #555555;
  font-family: "Roboto", "Helvetica", "Arial","sans-serif";
  font-size: 62.5%;
  line-height: 1.5; }

md-toolbar.header {
  height: 77px;
  background: #464854;
  color: #FFF;
  padding: 16px; }

.branding {
  background: #212121;
  width: 45px;
  height: 45px;
  border-radius: 50%; }

.branding img {
  width: 45px;
  height: 45px; }

main {
  position: absolute;
  top: 77px;
  left: 0;
  width: calc(100% + 15px);
  height: calc(100vh - 77px);
  overflow-y: scroll;
  padding: 0 64px 64px; }

.content {
  width: 100%;
  max-width: 1080px;
  padding: 24px; }
  .content.loading {
    background: #FFF url(../img/wheel.gif) center center no-repeat; }
