<!DOCTYPE html>
<head>
  <title>Steady Helm</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="css/style.min.css">

  <style type="text/css">
      /**
       * Hide when Angular is not yet loaded and initialized
       */
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
  </style>
</head>

<body ng-app="steadyHelm" layout="column" ng-controller="TasksController as ctrl" ng-cloak>
  <md-toolbar class="header md-whiteframe-z3">
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
      <div class="branding">
        <img src="img/logo.png" alt="Steady Helm">
      </div>
    </div>

    <md-tabs class="nav-tabs" md-selected="tabs.selectedIndex" md-center-tabs>
      <md-tab id="view_today" aria-controls="view_today-content">Today's Tasks</md-tab>
      <md-tab id="view_all" aria-controls="view_all-content">All Tasks</md-tab>
      <md-tab id="view_settings" aria-controls="view_settings-content">Settings</md-tab>
    </md-tabs>
  </md-toolbar>

  <main>
    <ng-switch on="tabs.selectedIndex">
      <!-- Today -->
      <div ng-switch-when="0" layout="row" layout-align="center start">
        <div class="card" ng-repeat="task in ctrl.tasks">
          <md-checkbox ng-model="task.isComplete" aria-label="Task Complete"></md-checkbox> {{task.text}}
        </div>
      </div>

      <!-- All -->
      <div ng-switch-when="1" layout="row" layout-align="center start">
        <div class="card" ng-repeat="task in ctrl.tasks">
          <md-checkbox ng-model="task.isComplete" aria-label="Task Complete"></md-checkbox> {{task.text}}
        </div>
      </div>

      <!-- Settings -->
      <div ng-switch-when="2" layout="row" layout-align="center start">
        Settings
      </div>
    </ng-switch>
  </main>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <script src="../node_modules/angular-aria/angular-aria.js"></script>
  <script src="../node_modules/angular-material/angular-material.js"></script>

  <script src="js/Tasks.js"></script>
  <script src="js/TasksController.js"></script>
  <script src="js/TasksService.js"></script>
  <script src="js/app.js"></script>
  
</body>
</html>
