<!DOCTYPE html>
<head>
  <title>Steady Helm</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="css/style.min.css">

  <style type="text/css">
      /**
       * Hide when Angular is not yet loaded and initialized
       */
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
  </style>
</head>

<body ng-app="steadyHelm" layout="column" ng-controller="TasksController as ctrl" ng-cloak>
  <md-toolbar class="header md-whiteframe-z3" layout="row" layout-align="center center">
    <div class="branding">
      <img src="img/logo.png" alt="Steady Helm">
    </div>
  </md-toolbar>

  <main layout="row" layout-align="center start">
    <div class="content">
      <md-icon md-svg-icon="{{ctrl.selected.avatar}}" class="avatar"></md-icon>
      <h2>{{ctrl.selected.name}}</h2>
      <p>{{ctrl.selected.content}}</p>

      <md-button class="share" md-no-ink ng-click="ctrl.makeContact(ctrl.selected)" aria-label="Share with {{ ctrl.selected.name }}">
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies massa a ullamcorper eleifend. Aliquam ultricies auctor eros, viverra vehicula odio tristique et. Curabitur metus est, egestas in neque quis, imperdiet venenatis velit. Phasellus ornare dignissim maximus. Quisque non blandit nisl. In venenatis pharetra bibendum. Cras at scelerisque lacus, ut laoreet metus. Cras ut lobortis eros. Mauris accumsan dolor sed nisl interdum ullamcorper. Mauris feugiat sollicitudin turpis, vitae facilisis nunc lobortis sed.</p>

      <p>Nunc quis est velit. Curabitur vel tincidunt sem. Duis id velit vel justo pellentesque sagittis sed non dolor. Integer eu leo cursus quam tincidunt molestie sit amet a odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam enim, suscipit id sodales id, egestas vel ex. Ut faucibus egestas sem in mollis. Donec a lacus dictum, pellentesque dolor id, auctor eros.</p>

      <p>Nunc vestibulum laoreet libero, sit amet posuere nibh convallis at. Morbi iaculis rutrum nunc, ornare sodales eros aliquam at. Pellentesque ac eros sapien. Praesent feugiat tellus mauris, quis pharetra tortor eleifend egestas. Sed at finibus quam. Sed commodo dui vel magna sodales blandit. In consequat, purus at porttitor tempus, diam ante ornare lorem, eget efficitur diam ex vel felis. Aenean bibendum felis et facilisis luctus. Vestibulum et libero a neque venenatis finibus.</p>

      <p>Curabitur id diam sed dolor semper placerat. Cras non est vel libero eleifend tempor. Nam ultrices aliquet diam ut ultrices. Aenean convallis orci auctor leo cursus, sit amet egestas mi blandit. Aliquam consequat congue porttitor. Proin elit arcu, faucibus sit amet eleifend sed, lacinia et risus. Fusce auctor et mi non semper. Aliquam hendrerit euismod risus nec ultrices. Proin vitae ante in lacus convallis placerat. Mauris semper eros euismod dolor egestas venenatis. Vestibulum dictum iaculis tempor. Praesent vel nibh maximus, porttitor nisl non, viverra tortor. Aliquam erat volutpat. Ut semper leo ultrices, venenatis enim et, ultricies erat.</p>

      <p>Aliquam erat volutpat. Mauris malesuada mauris at luctus fermentum. Nullam tempus blandit aliquet. Maecenas turpis sapien, vehicula vel molestie vitae, dictum ut leo. Suspendisse eu ante vel odio elementum fringilla nec eget turpis. Donec dapibus tincidunt nunc, sed condimentum felis molestie vel. Praesent iaculis sem in nulla pharetra, eu rutrum ante scelerisque. Morbi vulputate ultricies urna, eu ultrices est. Nunc lacinia mollis lorem, in blandit mi cursus in. Vivamus nec urna efficitur, imperdiet sem at, placerat nisl. Curabitur non velit ac massa convallis condimentum quis eget sapien. Quisque porttitor arcu vestibulum sem pulvinar pulvinar at at nisi. Sed felis urna, rutrum vitae lectus eget, finibus fringilla dui. Curabitur ut ante vitae quam euismod vehicula. Maecenas vitae sapien eu tortor feugiat malesuada at vulputate elit.</p>
    </div>
  </main>

  <!-- <div id="wrapper">
    <div id="header">
      <div id="branding">
        <h1><a href="/"><img src="img/logo.png" alt="Steady Helm" /></a></h1>
      </div>
    </div>
    
    <div id="content">
      <ul>
        <li ng-repeat="user in ctrl.users">{{user.name}}</li>
      </ul>
    </div>
  </div> -->

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <script src="../node_modules/angular-aria/angular-aria.js"></script>
  <script src="../node_modules/angular-material/angular-material.js"></script>

  <script src="js/Tasks.js"></script>
  <script src="js/TasksController.js"></script>
  <script src="js/TasksService.js"></script>
  <script src="js/app.js"></script>
  
</body>
</html>
