.card {
  margin: 48px; // TEMP
  padding: 24px; // TEMP
  background: #FFFFFF;
  background: linear-gradient(top, #FFFFFF 0%, #F7F8F9 100%);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 0 rgba(0, 0, 0, 0.12);
}