.card {
  @include card;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  margin: 16px;
  padding: 24px;
}

.card-quick-actions {

  md-checkbox {

  }
}

.card-text {

  md-input-container {
    display: block;
    margin: 0;
    padding: 0;

    .md-input {
      padding: 4px;
      border: 2px solid transparent;
      border-radius: 2px;

      &:hover {
        background-color: rgba(0,0,0,0.1);
      }

      &:focus {
        background-color: #FFFFFF;
        border: 2px solid rgba(0,0,0,0.2);
      }
    }
  }
}