.card {
  @include card;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  margin: 16px;
  padding: 24px;
}

.card-quick-actions {

}

md-checkbox {

}

md-input-container.card-text {
  display: block;
  margin: 0;
  padding: 0;

  .md-input {
    padding: 4px 8px;
    border-radius: 2px;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid rgba(0,0,0,0.26);
    }

    &:focus {
      background-color: #FFFFFF;
      border: 2px solid rgba(0,0,0,0.54);
    }
  }

  &.md-input-focused .md-input {
    padding: 4px 8px;
    border: 2px solid rgba(0,0,0,0.54);
  }

  .md-errors-spacer {
    display: none;
  }
}