$header-height: 125px;

md-toolbar.header {
  height: $header-height;
  background: #464854;
  color: #FFF;
}

.md-toolbar-tools {
  height: 77px;
  max-height: 77px;
  padding: 16px;
}

.branding {
  background: #212121;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.branding img {
  width: 45px;
  height: 45px;
}